<!DOCTYPE html>
<html>
    <head>
        <title>Artemis Lunar Mission Control</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-color: black;overflow-x: hidden;overflow-y: hidden;">
        <header-element></header-element>
        <div class="animate-area" style="background-image: url('assets/images/Luna.jpg');height: 640px;width: 1372px;padding-left: 120px;padding-top: 60px;">
            <h6 style="color: white;padding-top: 5px;">Shared Logs</h6>    
            <div class="row" style="padding-left: 10px;padding-top: 20px;">
                    <div class="col-3">
                       <span style="color: white; padding-right: 10px;">Filter From :</span><input style="background-color: black; color: wheat; border-radius: 15px 15px 15px 15px" type="date" name="fromDate" value="{{fromDate}}" [(ngModel)]="fromDate"/> 
                    </div>
                    <div class="col-3">
                        <span style="color: white; padding-right: 10px;">To :</span><input style="background-color: black; color: wheat; border-radius: 15px 15px 15px 15px" type="date" name="fromDate" value="{{toDate}}" [(ngModel)]="toDate"/> 
                     </div>
            </div>    
                <div class="row" style="padding-top: 20px;">
                    <div class="col-6" >
                        <span style="color: white;padding-left: 10px;">Any specifics: </span><input type="text" [(ngModel)]="searchData" name="keywords" placeholder="Keywords,Search Terms,etc" value="" style="border-radius: 20px 20px 20px 20px ; width: 550px;"/>
                    </div>
                    <div class="col-2" style="padding-left: 30px;padding-top: 25px;">
                        <button class="btn-dark" style="border-radius: 20px 20px 20px 20px ; width: 120px;background-color: black;" (click)="filter()">Search</button>
                    </div>
                    <div class="col-1" style="padding-left: 30px;padding-top: 25px;">
                        <button class="btn-dark" style="border-radius: 20px 20px 20px 20px ; width: 120px;background-color: black;" (click)="clear()">Clear</button>
                    </div>
                </div>
                <div class="row" style="padding-top: 30px; width: 1200px;">
                    <div class="col-12" >
                        <table class="table" style="color: white;">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Shared Log</th>
                                    <th scope="col">Shared Author</th>
                                    <th scope="col">Timestamp</th>
                                    <th scope="col">Access</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let log of filteredLogData | paginate: { itemsPerPage: 4, currentPage: p }"> 
                                <tr height="5px "style="color: white;background-color:black ; font-size: 12px; height: 15px; ">
                                    <th scope='row'></th>
                                    <td>  
                                        <div class="flip-box">
                                            <div class="flip-box-inner">
                                                <div class="flip-box-front">
                                                    Subject : {{log.subject}}
                                                </div>
                                                <div class="flip-box-back">
                                                    Context: {{log.context}}
                                                </div>
                                             </div>
                                        </div>
                                    </td>
                                    <td>{{log.username}}</td>
                                    <td>{{log.postTime}}</td>
                                    <td>{{log.access}}</td>
                                    <td><a style="color: white;" href="/sharedLog/{{log.id}}">View/Edit Log</a></td>
                                </tr>
                            </tbody>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </table>    
                    </div>
                </div>        
        </div>   
    </body>    
</html>    